<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige toutes les requêtes vers index.php sauf si un fichier ou un dossier existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php/$1 [QSA,L]

    # Active la compression Gzip si disponible
    <IfModule mod_deflate.c>
        AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
    </IfModule>

    # Désactive l'affichage du contenu des répertoires
    Options -Indexes
</IfModule>
