{% extends 'base.html.twig' %}

{% block title %}Create new Product!{% endblock %}

{% block body %}
    <h1> Liste des ingrédients : </h1>
    {% for product in products %}

        <li>{{ product.name }}</li>

    {% endfor %}
{% endblock %}
