<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f4] px-10 py-3">
    <div class="flex items-center gap-8">
        <div class="flex items-center gap-4 text-[#111418]">
            <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_330)">
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"
                                fill="currentColor"
                        ></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_6_330"><rect width="48" height="48" fill="white"></rect></clipPath>
                    </defs>
                </svg>
            </div>
            <h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em]">Cook It Up</h2>
        </div>
        <div class="flex items-center gap-9">
            <a class="text-[#111418] text-sm font-medium leading-normal" href="/recipe">Générer une recette</a>
            <a class="text-[#111418] text-sm font-medium leading-normal" href="/product">Ajouter un ingrédient</a>
            <a class="text-[#111418] text-sm font-medium leading-normal" href="/products">Liste des ingrédients</a>
        </div>
    </div>
    <div class="flex flex-1 justify-end gap-8">
        <div class="flex gap-2">
            {% if app.user is not empty %}
                <button
                        class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f0f2f4] text-[#111418] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
                >
                    <div class="text-[#111418]">
                        {{ app.user.email }}
                    </div>
                </button>
                <button
                        class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f0f2f4] text-[#111418] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
                >
                    <div class="text-[#111418]" data-icon="User" data-size="20px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                            <path
                                    d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
                            ></path>
                        </svg>
                    </div>
                </button>
            {% endif %}
            <button
                    class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f0f2f4] text-[#111418] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
                    onclick="window.location.href='/logout'"
            >
                <div class="text-[#111418]" data-icon="Logout" data-size="20px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor"
                         viewBox="0 0 256 256">
                        <path d="M223.6,127.6l-48-48a8.1,8.1,0,0,0-11.2,11.2L204.7,120H112a8,8,0,0,0,0,16h92.7l-40.3,40.3a8.1,8.1,0,1,0,11.2,11.4l48-48A8.2,8.2,0,0,0,223.6,127.6Zm-87.6,80H40a8,8,0,0,1-8-8V56a8,8,0,0,1,8-8h96a8,8,0,0,0,0-16H40A24.1,24.1,0,0,0,16,56V200a24.1,24.1,0,0,0,24,24h96a8,8,0,0,0,0-16Z"></path>
                    </svg>
                </div>
            </button>
        </div>
    </div>
</header>